<!DOCTYPE html>
<html lang="en">
    
<head>
    <title> About Us Section Design</title>
    <link rel="stylesheet" type="text/css" href="/static/about.css">

    <link rel="preconnect" href="https://fonts.googleapics.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="https://fonts.googleapis.com/css2?family=josefin+Sans:ital,wght@0,100;0,200;0,400;
     0,500;0,600;700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap   "
     rel="stylesheet">

    
</head>
<body>
    <section class ='about'>
        <div class ="main">
   <img src="/static/img_6078-1024x768 (1).webp" >
            <div class ="about-text">
                <h1> About Us</h1>
                <h5>Developer<span> & Designer</span> </h5>
                <p>Flameshield is a web application which helps during fire emergencies.This application will help to provide fast response.Main purpose is to protect people whenever there is an fire outbreak.The response time is faster.Flameshield aims to improve the fire hazard management system and this application will have access of up to date information of the fire incidents.Our aim is to make communities safer by being proactive to fire incidents.Flameshield will make a use difference in protecting the lives of the people and the property. So it is high time to use Flameshield to stop bad things happening and keeping everyone safe.</p>
            <br>
            <br>
        <a href="/">
          <button type ="button" >Proceed</button>
        </a>
            </div>
        </div>
    </section>
    
</body>
</html>