<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlameShield_Safety</title>
  <link rel="stylesheet" href="/static/certificate.css">
</head>
<body>
    

  <header>
    <h1>Fire Safety Tips & Resources</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/certificate">Certificates</a></li>
    </ul>
  </nav>

  <main>
    <section id="tips">
      <h2>Fire Safety Tips</h2>
      <p>Access to fire safety tips empowers individuals with the knowledge and skills to respond effectively to fire incidents. Here are some essential fire safety tips:</p>
      <ul>
        <li>Install smoke alarms on every level of your home, including inside bedrooms and outside sleeping areas.</li>
        <li>Test smoke alarms every month and replace them if they are more than 10 years old.</li>
        <li>Create a fire escape plan and practice it with your family at least twice a year.</li>
        <li>Teach children how to escape on their own in case you can't help them.</li>
        <li>Avoid overloading electrical outlets and never use damaged electrical cords.</li>
        <li>Keep flammable materials away from heat sources.</li>
        <li>Never leave cooking food unattended, and keep flammable items away from the stove.</li>
      </ul>
    <!-- </section> -->

    <!-- <section id="resources"> -->
      <h2>Fire Safety Resources</h2>
      <p>Access to fire safety resources is crucial for promoting proactive risk mitigation and preparedness. Here are some valuable resources:</p>
      <ul>
        <li><a href="https://www.waterfordmi.gov/396/Fire-Safety-Fact-Sheets" target="_blank">Fire Safety Fact Sheets</a></li>
        <li><a href="https://www.osha.gov/emergency-preparedness/guides/" target="_blank">Emergency Preparedness Guides</a></li>
        <li><a href="https://www.thefpa.co.uk/training/online-training-courses" target="_blank">Online Fire Safety Courses</a></li>
        <li><a href="https://www.youtube.com/watch?v=ONUIEMSbrog" target="_blank">Fire Extinguisher Training Videos</a></li>
        <li><a href="https://www.dsfire.gov.uk/about-us/community-events" target="_blank">Community Fire Safety Events</a></li>
      </ul>
    </section>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ReL-DM9xhpI?si=UKxQWaSh9Lt9m3bc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </main>



  <footer>
    <p>&copy; 2024 Fire Safety Education by FlameShield.</p>
  </footer>

</body>
</html>
